body {
  background-image: url(../photos/homepage/backgroundimage2.jpeg);
  background-size: cover;
}
a {
  text-decoration: none;
}

.homePageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* border: 1px  solid black; */
  height: 100vh;
}

.introText {
  font-family: 'Rouge Script', cursive;
  font-size: 37px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  /* border: 1px solid black; */
  width: 100%

}
.howToSignUp{
  display:flex;
  justify-content: space-evenly;
  /* border: 1px  solid black; */
  width: 40%;
}
.card {
  font-family: 'Rouge Script', cursive;
  font-size: 40px;
  text-align: center;
 

}
.card p {
  color: #d4aa49;
  font-size: 35px;
  /* font-weight: bold; */
}
.card i {
  padding-top: 100px;
  font-size: 90px;
}

.usersRendered {
  display: flex;
  width: 30%;
  flex-wrap: wrap;
}
.aboveTextUsers{
  color:  #c31717;
  margin-right: 5px;
  backdrop-filter: blur(4px);
  margin-top:65px;
  font-weight:bolder;
  font-family: 'Rouge Script', cursive;
  font-size: 40px;
  width: 100%;
  height: 20%;
  text-align: center;
  border: 3px solid #d4aa49;
  border-radius: 10px;

}

.users {
  font-size: 30px;
  display: flex;
  margin: 3px;
}

