body {
  font-family: 'Arial', sans-serif;
}
.navbarHeader {
  display:flex;
  justify-content: center;
  font-family: 'Rouge Script', cursive;
  font-weight: bold;
  font-size: 60px;
  color: #c31717; /* Muted Red for the title */
}


.navbarContainer {
  display: flex;
  justify-content:space-between;
  width: 10%;
  font-family: 'Rouge Script', cursive;
  overflow: hidden;
  position: relative;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

nav a::before,
nav a::after {
 content: '';
  position: absolute;
  width: 100%;
  left: 5px;
}
nav a::before {
  height: 5px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}
nav a::after {
  content: attr(data-replace);
  height: 100%;
  font-weight:bold;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  color: #b2a292;
}


nav a:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}
nav a:hover::after {
  transform: translate3d(0, 0, 0);
}
nav a span {
  display: inline-block;
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

nav a:hover span {
  transform: translate3d(-200%, 0, 0);
}

 header h1 a {

h1 {
  font-size: 1.5rem;
  margin-top: 15px;
  margin-left: 15px;
}
a:link{
  color: #D9534F;
}
a:visited{
  color: #D9534F;
}
a {

  text-decoration: none;
  color: #2c2c2c;
  
}
 header h1 a:hover {
  color: #D9534F; /* Muted Red on hover */
  text-shadow: 5px 5px 20px #797878;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  
}

button.no-button {
  background: none;
  border: none;
  cursor: pointer;
  /* color: #333; */
}
button.no-button:hover {
  color: #5CB85C; /* Muted Green on hover */
}





/* Additional styles for the hover effect on buttons */
button:hover,
button.no-button:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}


  