body {
  font-family: 'Arial', sans-serif;

  margin: 0;
}
.navbarHeader {
  font-family: 'Rouge Script', cursive;
  font-size: 20px;
  font-weight: bold;
  height: 5vh;
  display:flex;
  justify-content: space-between;
}
.navbarContainer a {
font-size: 45px;
}


.nav {
  padding-top:20px;
  padding-right: 15px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.mt-5 {
  margin-top: 5rem;
}
header {

  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}
h1 {
  font-size: 1.5rem;
  margin-top: 15px;
  margin-left: 15px;
}
a {
  text-decoration: none;
  color: #333;
}
a:hover {
  color: #D9534F; /* Muted Red on hover */
}
nav a {
  margin-right: 10px;
}
button.no-button {
  background: none;
  border: none;
  cursor: pointer;
  /* color: #333; */
}
button.no-button:hover {
  color: #5CB85C; /* Muted Green on hover */
}





/* Additional styles for the hover effect on buttons */
button:hover,
button.no-button:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}


  


